on: [push, pull_request]

name: Render and Publish

permissions:
    contents: write
    pages: write

jobs:
    codespell:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - uses: codespell-project/actions-codespell@master

    build-deploy:
        runs-on: ubuntu-latest
        steps:

            - name: Check out repository
              uses: actions/checkout@v4

            - name: Set up Quarto
              uses: quarto-dev/quarto-actions/setup@v2
              with:
                # To install LaTeX to build PDF book
                tinytex: true
            - name: Publish to GitHub Pages (and render)
              uses: quarto-dev/quarto-actions/publish@v2
              with:
                target: gh-pages
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}